{% extends "base.html" %}
{% load bootstrap5 %}
{% load fontawesome_5 %}

{%load static%}
    {% comment %} <link rel="stylesheet" href="{% static 'css/global.css' %}"/> {% endcomment %}
{% block title %} Home
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container centered-text">
    {% comment %} {% include "main/slider.html" %} {% endcomment %}
    <div>
    {% include "products/products_grid.html" %}
    </div>

    </div>
{% endblock %}

{% block scripts %}
{% endblock %}